In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn import svm

In [3]:
from google.colab import drive #To import google drive data

In [4]:
drive.mount('/content/drive') #to mount drive data into the colab cloud and enter activation code

Mounted at /content/drive

In [5]:
cd /content/drive/"My Drive/Colab Notebooks"

/content/drive/My Drive/Colab Notebooks

In [6]:
data2 = pd.read_csv('Total_Features_5.csv')

In [7]:
data2.shape

(289, 17)

In [ ]:
x = data2.iloc[:,11:23]

In [ ]:
z = data2.iloc[:,11:40]

In [ ]:
z.insert(29,"FTR",data2.iloc[:,6],True)

In [ ]:
x.insert(12,"FTR",data2.iloc[:,6],True)

In [ ]:
z

,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,...,GBA,IWH,IWD,IWA,LBH,LBD,LBA,SBH,SBD,FTR
0,23,12,11,2,15,15,16,7,1,2,...,3.75,1.80,3.4,4.0,1.83,3.4,4.33,1.90,3.25,H
1,7,17,2,12,19,14,1,3,2,1,...,2.40,2.55,3.2,2.5,2.80,3.3,2.50,2.70,3.20,H
2,13,12,9,7,12,13,4,8,1,3,...,3.20,2.20,3.2,3.0,2.25,3.3,3.20,2.10,3.20,D
3,18,10,13,4,10,10,3,1,1,0,...,16.00,1.15,6.2,14.0,1.14,7.5,19.00,1.12,6.50,H
4,6,13,2,7,13,10,3,6,3,3,...,3.30,2.10,3.2,3.2,2.10,3.3,3.50,2.20,3.20,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,15,13,10,7,5,8,7,6,0,0,...,3.60,1.90,3.3,3.7,2.00,3.5,3.60,2.00,3.25,D
376,11,11,5,9,10,9,5,3,1,4,...,2.40,2.80,3.2,2.3,2.88,3.4,2.38,2.70,3.40,A
377,22,7,16,3,5,15,7,5,0,3,...,6.00,1.55,4.0,4.6,1.57,4.0,5.50,1.53,3.80,H
378,17,17,12,12,7,8,4,6,0,2,...,3.80,2.00,3.3,3.3,2.00,3.4,3.75,1.90,3.40,A
379,12,13,5,10,12,9,8,3,3,1,...,3.75,2.00,3.3,3.3,2.10,3.2,3.60,2.05,3.10,A

In [ ]:
x

     HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR FTR
0    23  12   11    2  15  15  16   7   1   2   0   0   H
1     7  17    2   12  19  14   1   3   2   1   0   0   H
2    13  12    9    7  12  13   4   8   1   3   0   0   D
3    18  10   13    4  10  10   3   1   1   0   0   0   H
4     6  13    2    7  13  10   3   6   3   3   1   0   D
..   ..  ..  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
375  15  13   10    7   5   8   7   6   0   0   0   0   D
376  11  11    5    9  10   9   5   3   1   4   0   0   A
377  22   7   16    3   5  15   7   5   0   3   0   0   H
378  17  17   12   12   7   8   4   6   0   2   0   0   A
379  12  13    5   10  12   9   8   3   3   1   0   0   A

[380 rows x 13 columns]

In [ ]:
X = z.iloc[:,:29]

In [ ]:
X

,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,...,GBD,GBA,IWH,IWD,IWA,LBH,LBD,LBA,SBH,SBD
0,23,12,11,2,15,15,16,7,1,2,...,3.25,3.75,1.80,3.4,4.0,1.83,3.4,4.33,1.90,3.25
1,7,17,2,12,19,14,1,3,2,1,...,3.20,2.40,2.55,3.2,2.5,2.80,3.3,2.50,2.70,3.20
2,13,12,9,7,12,13,4,8,1,3,...,3.25,3.20,2.20,3.2,3.0,2.25,3.3,3.20,2.10,3.20
3,18,10,13,4,10,10,3,1,1,0,...,6.75,16.00,1.15,6.2,14.0,1.14,7.5,19.00,1.12,6.50
4,6,13,2,7,13,10,3,6,3,3,...,3.25,3.30,2.10,3.2,3.2,2.10,3.3,3.50,2.20,3.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,15,13,10,7,5,8,7,6,0,0,...,3.30,3.60,1.90,3.3,3.7,2.00,3.5,3.60,2.00,3.25
376,11,11,5,9,10,9,5,3,1,4,...,3.30,2.40,2.80,3.2,2.3,2.88,3.4,2.38,2.70,3.40
377,22,7,16,3,5,15,7,5,0,3,...,3.75,6.00,1.55,4.0,4.6,1.57,4.0,5.50,1.53,3.80
378,17,17,12,12,7,8,4,6,0,2,...,3.40,3.80,2.00,3.3,3.3,2.00,3.4,3.75,1.90,3.40
379,12,13,5,10,12,9,8,3,3,1,...,3.10,3.75,2.00,3.3,3.3,2.10,3.2,3.60,2.05,3.10

In [ ]:
y = x.FTR

In [ ]:
y

0      H
1      H
2      D
3      H
4      D
      ..
375    D
376    A
377    H
378    A
379    A
Name: FTR, Length: 380, dtype: object

In [9]:
X = data2.drop('FTR',axis=1)
y = data2['FTR']
X.shape, y.shape

((289, 16), (289,))

In [10]:
C=1 #SVM regularization parameter

In [11]:
#SVC Support vector classifier
svc = svm.SVC(kernel='linear',C=C).fit(X,y)

In [12]:
rbf_svc = svm.SVC(kernel='rbf',gamma=0.5,C=C).fit(X,y)

In [13]:
poly_svc=svm.SVC(kernel='poly',degree=5,C=C).fit(X,y)

In [14]:
linear_svc=svm.LinearSVC(C=C).fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

Output Prediction

In [15]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [16]:
y_pred=rbf_svc.predict(X)

In [17]:
y_pred

array(['D', 'H', 'D', 'D', 'D', 'H', 'A', 'D', 'H', 'A', 'D', 'H', 'H',
       'H', 'D', 'A', 'A', 'A', 'H', 'D', 'A', 'H', 'H', 'D', 'A', 'A',
       'H', 'A', 'D', 'A', 'A', 'A', 'A', 'A', 'A', 'H', 'A', 'D', 'A',
       'D', 'H', 'H', 'D', 'H', 'A', 'H', 'A', 'H', 'A', 'D', 'D', 'H',
       'H', 'D', 'D', 'D', 'H', 'H', 'H', 'A', 'H', 'D', 'H', 'H', 'D',
       'H', 'D', 'H', 'H', 'D', 'D', 'A', 'H', 'A', 'H', 'D', 'H', 'D',
       'A', 'D', 'H', 'A', 'D', 'D', 'A', 'D', 'A', 'H', 'A', 'A', 'D',
       'A', 'D', 'H', 'D', 'A', 'H', 'H', 'H', 'D', 'H', 'H', 'H', 'D',
       'D', 'H', 'H', 'H', 'A', 'H', 'D', 'H', 'D', 'H', 'A', 'H', 'H',
       'H', 'H', 'D', 'H', 'H', 'A', 'A', 'H', 'H', 'A', 'D', 'H', 'D',
       'A', 'H', 'H', 'H', 'D', 'A', 'H', 'H', 'A', 'H', 'D', 'H', 'H',
       'H', 'A', 'D', 'H', 'A', 'A', 'H', 'D', 'A', 'H', 'H', 'H', 'A',
       'A', 'H', 'H', 'H', 'H', 'D', 'H', 'H', 'H', 'H', 'A', 'A', 'D',
       'H', 'H', 'A', 'H', 'A', 'A', 'H', 'A', 'D', 'H', 'A', 'H', 'A',
       'H', 'H', 'D', 'D', 'H', 'A', 'A', 'A', 'A', 'H', 'A', 'H', 'H',
       'H', 'H', 'A', 'D', 'H', 'A', 'D', 'A', 'D', 'H', 'D', 'D', 'H',
       'H', 'H', 'D', 'A', 'D', 'H', 'D', 'H', 'D', 'D', 'A', 'D', 'A',
       'A', 'H', 'H', 'A', 'D', 'D', 'H', 'D', 'D', 'H', 'D', 'A', 'H',
       'A', 'D', 'A', 'A', 'H', 'A', 'D', 'A', 'D', 'H', 'A', 'H', 'A',
       'H', 'H', 'H', 'D', 'A', 'D', 'D', 'A', 'H', 'D', 'D', 'H', 'H',
       'D', 'A', 'H', 'D', 'H', 'H', 'H', 'A', 'H', 'A', 'H', 'H', 'H',
       'A', 'H', 'A', 'A', 'H', 'A', 'A', 'A', 'H', 'H', 'A', 'D', 'D',
       'D', 'A', 'A'], dtype=object)

In [18]:
accuracy_score(y,y_pred)

1.0

In [19]:
confusion_matrix(y,y_pred)

array([[ 88,   0,   0],
       [  0,  78,   0],
       [  0,   0, 123]])

In [20]:
classification_report(y,y_pred)

'              precision    recall  f1-score   support\n\n           A       1.00      1.00      1.00        88\n           D       1.00      1.00      1.00        78\n           H       1.00      1.00      1.00       123\n\n    accuracy                           1.00       289\n   macro avg       1.00      1.00      1.00       289\nweighted avg       1.00      1.00      1.00       289\n'

In [22]:
y_pred=linear_svc.predict(X)
print("Linear Classifier-->",accuracy_score(y,y_pred))

y_pred=poly_svc.predict(X)
print("Polynomial Classifier-->",accuracy_score(y,y_pred))

Linear Classifier--> 0.9653979238754326
Polynomial Classifier--> 0.9757785467128027